<!-- BEGIN ABOUT -->
<section class="about_wrap" id="about">
  <div class="about_thumb">
    <div class="about_desc scroll_animate">
      <h2 class="about_headline">ABOUT US</h2>
      <p class="about_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
      <div class="cta">
        <a href="#"> get more <span>&#8594;</span></a>
      </div>
    </div>
    <div class="right_about scroll_animate">
      <div class="img_a"></div>
      <div class="img_b"></div>
    </div>
  </div>
</section><!-- end section .about_wrap -->
<!-- END ABOUT -->
