<!--  BEGIN CLIENT -->
<section class="client_wrap" id="our_client">
  <div class="client_thumb">
    <div class="client_left">
      <div class="client_content scroll_animate">
        <h2 class="client_headline">our client</h2>
        <p class="client_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
           labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
        <div class="cta">
          <a href="#"> get more <span>&#8594;</span></a>
        </div>
      </div>
    </div>
    <div class="client_right">
        <div class="clien_prv">
        <div class="client_cont track scroll_animate">
          <div class="client_slide">
            <div class="client_info">
              <img src="./assets/img/client/1.jpg" class="face"/>
               <p class="client_name">sara hobs</p>
               <p class="client_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                 sed do eiusmod tempor incididunt ut labore et dolore
               </p>
            </div>
          </div>
          <div class="client_slide">
            <div class="client_info">
              <img src="./assets/img/client/2.jpg" class="face"/>
               <p class="client_name">Oliv jons</p>
               <p class="client_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                 sed do eiusmod tempor incididunt ut labore et dolore
               </p>
            </div>
          </div>
          <div class="client_slide">
            <div class="client_info">
              <img src="./assets/img/client/3.jpg" class="face"/>
               <p class="client_name">jon moc</p>
               <p class="client_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                 sed do eiusmod tempor incididunt ut labore et dolore
               </p>
            </div>
          </div>
          <div class="client_slide">
            <div class="client_info">
              <img src="./assets/img/client/4.jpg" class="face"/>
               <p class="client_name">Adam mic</p>
               <p class="client_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                 sed do eiusmod tempor incididunt ut labore et dolore
               </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- end client .client_wrap -->
<!-- END CLIENT -->
