<!-- BEGIN CONTACT -->
<section class="contact_wrap" id="contact_us">
  <div class="contact_thumb">
    <div class="left_thumb">
      <div class="contact_decs scroll_animate">
        <h2 class="contact_headline">contact us</h2>
        <p class="contact_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
           labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
      </div>
    </div>
    <div class="right_thumb scroll_animate">
      <div class="form">
      <form class="contact_form" action="" method="post">
          <input type="text" name="name" placeholder="Name">
          <input type="email" name="email" placeholder="Email">
          <input type="text" name="sub" placeholder="Subject">
          <textarea name="" rows="8" cols="40" placeholder="What's your comments?"></textarea>
        <button type="submit" name="submit" class="effect">sent</button>
      </form>
      </div>
    </div>
  </div>
</section><!-- end section .contact_wrap -->
<!-- END CONTACT -->
