<!-- BEGIN FOOTER -->
<footer class="footer-wrap">
  <div class="logo">{% include icons/logo.html %}</div>
  <div class="help_link">
    <ul class="list_links">
      <li class="name_list">about</li>
      <li class="list"><a href="#" class="links">company</a></li>
      <li class="list"><a href="#" class="links">carrers</a></li>
      <li class="list"><a href="#" class="links">blogs & press</a></li>
    </ul>
    <ul class="list_links">
      <li class="name_list">support</li>
      <li class="list"><a href="#" class="links">support center</a></li>
      <li class="list"><a href="#" class="links">contact</a></li>
      <li class="list"><a href="#" class="links">Cancellation Policy</a></li>
    </ul>
    <ul class="list_links">
      <li class="name_list">LEGAL</li>
      <li class="list"><a href="#" class="links">Privacy Policy</a></li>
      <li class="list"><a href="#" class="links">Terms & Conditions</a></li>
    </ul>
    <div class="social_account">
      <h4 class="social_title">social</h4>
      <div class="social_icons">
        <div class="icons">{% include icons/facebook.html %}</div>
        <div class="icons">{% include icons/twitter.html %}</div>
        <div class="icons">{% include icons/google.html %}</div>
        <div class="icons">{% include icons/instgram.html %}</div>
      </div>
    </div>
  </div>
  <p class="copy_right">Copyright <span class="symbols">&#169;</span> 2016 by Ideas_Design. All Rights Reserved.</p>
</footer><!-- end footer.footer-wrap -->
<!-- END FOOTER  -->
