<!-- BEGIN HEADER -->
<header class="wrap-header">
  <div class="logo">{% include icons/logo.html %}</div>
  <div class="thumb-header">
      <div class="menu_header">
        <div class="menu" onclick="menu(this)">
         <div class="bar-1"></div>
         <div class="bar-2"></div>
         <div class="bar-3"></div>
        </div>
        <ul class="header_menu">
          <li class="li_header ctv"><a class="link_header" href="#home">home</a></li>
          <li class="li_header"><a class="link_header" href="#about">about</a></li>
          <li class="li_header"><a class="link_header" href="#service">service</a></li>
          <li class="li_header"><a class="link_header" href="#project">our project</a></li>
          <li class="li_header"><a class="link_header" href="#our_team">our team</a></li>
          <li class="li_header"><a class="link_header" href="#our_client">our client</a></li>
          <li class="li_header"><a class="link_header" href="#our_places">our places</a></li>
          <li class="li_header"><a class="link_header" href="#contact_us">contact us</a></li>
        </ul>
      </div>
    <div class="head-line">
      <p class="first">start life</p>
      <h1 class="header_title">get set style</h1>
      <p class="secound">modern color style</p>
    </div>
    <div class="cta">
      <a href="#"> get more <span>&#8594;</span></a>
    </div>
  </div>
</header><!-- end header .wrap-header -->
<!-- END HEADER-->
