<!-- BEGIN PLACE -->
<section class="places_wrap" id="our_places">
    <h2 class="place_headline">our places</h2>
     <div class="places_cards_group">
         <div class="place_card">
           <div class="place_info">
             <p class="city">San Francisco</p>
             <p class="phone">555-225-4544</p>
             <p class="email">example@example.com</p>
           </div>
           <div class="places_icon">{% include icons/place.html %}</div>
         </div>
         <div class="place_card">
           <div class="place_info">
             <p class="city">New Jersey</p>
             <p class="phone">555-225-4544</p>
             <p class="email">example@example.com</p>
           </div>
           <div class="places_icon">{% include icons/place.html %}</div>
         </div>
         <div class="place_card">
           <div class="place_info">
             <p class="city">Las Vagas</p>
             <p class="phone">555-225-4544</p>
             <p class="email">example@example.com</p>
           </div>
           <div class="places_icon">{% include icons/place.html %}</div>
         </div>
         <div class="place_card">
           <div class="place_info">
             <p class="city">New York</p>
             <p class="phone">555-225-4544</p>
             <p class="email">example@example.com</p>
           </div>
           <div class="places_icon">{% include icons/place.html %}</div>
         </div>
       </div>
</section><!-- end section .places_wrap -->
<!-- END PLACE  -->
