<!-- BEGIN SERVICE -->
<section class="service_wrap" id="service">
  <div class="service_thumb">
     <div class="service_left">
       <div class="service_content scroll_animate">
         <h2 class="service_headline">our service</h2>
         <p class="service_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
         <div class="cta">
           <a href="#"> get more <span>&#8594;</span></a>
         </div>
       </div>
     </div>
     <div class="service_right">
       <div class="service_right_wrap scroll_animate">
           <div class="service_desc">
              <div class="service_icons">{% include icons/design.html %}</div>
                <p class="desc">inspraion</p>
           </div>
           <div class="service_desc">
              <div class="service_icons">{% include icons/cup.html %}</div>
                <p class="desc">client goals</p>
           </div>
           <div class="service_desc">
              <div class="service_icons">{% include icons/idea.html %}</div>
                <p class="desc">creative ideas</p>
           </div>
           <div class="service_desc">
              <div class="service_icons">{% include icons/star.html %}</div>
                <p class="desc">quality mind</p>
           </div>
       </div>
     </div>
  </div>
</section><!-- end section .service_wrap -->
<!-- END SERVICE -->
