<!-- BEGIN TEAM -->
<section class="team_wrap" id="our_team">
  <h2 class="team_headline">our team</h2>
 <div class="team_content">
   <div class="team_thumb">
     <div class="team_memb">
         <div class="unit_team">
         <div class="memb_img" id="memb_img" style="background-image: url('./assets/img/team/tm-1.jpg')">
         </div>
         <div class="info">
           <p class="memb_name">sara hobs</p>
           <em class="memb_feild">markting</em>
         </div>
         <div class="thumb_social">
           <div class="memb_social">
             <div class="social">{% include icons/facebook.html %}</div>
             <div class="social">{% include icons/twitter.html %}</div>
             <div class="social">{% include icons/instgram.html %}</div>
           </div>
         </div>
       </div>
     </div>
     <div class="team_memb">
         <div class="unit_team">
         <div class="memb_img" id="memb_img" style="background-image: url('./assets/img/team/tm-2.jpg')">
         </div>
         <div class="info">
           <p class="memb_name">jode lears</p>
           <em class="memb_feild">sales</em>
         </div>
       <div class="thumb_social">
         <div class="memb_social">
           <div class="social">{% include icons/facebook.html %}</div>
           <div class="social">{% include icons/twitter.html %}</div>
           <div class="social">{% include icons/instgram.html %}</div>
         </div>
     </div>
      </div>
     </div>
     <div class="team_memb">
         <div class="unit_team">
         <div class="memb_img" id="memb_img" style="background-image: url('./assets/img/team/tm-3.jpg')">
         </div>
         <div class="info">
           <p class="memb_name">Michael Fertig </p>
           <em class="memb_feild">UX Design</em>
         </div>
       <div class="thumb_social">
         <div class="memb_social">
           <div class="social">{% include icons/facebook.html %}</div>
           <div class="social">{% include icons/twitter.html %}</div>
           <div class="social">{% include icons/instgram.html %}</div>
         </div>
       </div>
     </div>
     </div>
     <div class="team_memb">
        <div class="unit_team">
          <div class="memb_img" id="memb_img" style="background-image: url('./assets/img/team/tm-4.png')">
          </div>
          <div class="info">
            <p class="memb_name">cress lorn</p>
            <em class="memb_feild">PRODECT design</em>
          </div>
          <div class="thumb_social">
            <div class="memb_social">
              <div class="social">{% include icons/facebook.html %}</div>
              <div class="social">{% include icons/twitter.html %}</div>
              <div class="social">{% include icons/instgram.html %}</div>
            </div>
        </div>
      </div>
     </div>
   </div>
   <div class="sales_rateing scroll_animate">
    <p class="sub_line">sales rateing</p>
      <div class="year_rate">
        <p>2016 <span>90%</span></p>
        <p>2015 <span>80%</span></p>
        <p>2014 <span>70%</span></p>
      </div>
    </div>
 </div>
</section><!-- end section .team_wrap-->
<!-- END SECTION -->
